html, body, #root { 
  margin: 0;
  padding: 0;
  width: 100vw; 
  height: 100vh;
  overflow-x: hidden;
} 

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                      url('/images/backgroundlogin.png'); 
}

.login-card {
  background-color: #f5f5f5; 
  padding: 40px;
  border-radius: 15px; 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4); 
  width: 100%;
  max-width: 342px; 
  max-height: 342px; 
  text-align: center;
}

.login-logo {
  margin-bottom: 30px;
}

.logo-image {
  max-width: 150px; 
  margin: 0 auto; 
  display:flex;
}

.input-group {
  text-align: left;
  margin-bottom: 25px;
}

.input-group label {
  font-size: 14px;
  color: #333; 
  margin-bottom: 5px;
  display: block; 
  font-weight: 600;
}

.password-input-wrapper {
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  background-color: #e8e8e8; 
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.error-message {
  color: #e74c3c;
  background-color: #fdd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}


.login-form::after {
    content: "";
    display: table;
    clear: both;
}

.login-button {
  width: 120px; 
  padding: 10px 0;
  border: none;
  border-radius: 5px; 
  background-color: #000; 
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  float: right; 
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button:hover {
  background-color: #333;
}