.realtime-page{
    height:100vh;
    background:#212121;
    padding:16px 0 0 16px;
    overflow:hidden;
}

.realtime-content-container{
    display:flex;
    gap:10px;
    height:calc(100vh - 60px);
}

.main-content{flex:1}

.content-title{
    color:#fff;
    font-size:30px;
    font-family: 'Franklin Gothic Medium';
    margin:0 0 8px;
    font-weight:500;
}

.video-monitor-card{
    background:#303030;
    padding:20px;
    border-radius:9px;
}

.video-header{
    display:flex;
    justify-content:space-between;
    font-size:14px;
    color:#aaa;
    margin-bottom:6px;
}

.video-feed-placeholder{
    width:100%;
    height:auto;
    object-fit:cover;
    border-radius:10px;
}

.alerts-sidebar{
    width:auto;
    height:100%;
}

.alerts-card{
    height:100%;
    background:#F4F4F4;
    border-radius: 30px 0 0 30px;
    padding:25px;
    display:flex;
    flex-direction:column;
}

.alerts-card h3{
color: #000;
text-align: center;
font-family: 'Franklin Gothic Medium';
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

.alert-group-date{
    color: #000;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.alert-group{
    display:flex;
    flex-direction:column;
    gap:15px;
}


.alert-list-scroll{
    flex:1;
    overflow-y:auto;
    padding-right:4px;
}

.alert-item{
    display:flex;
    align-items:center;
    gap:7px;
    width:360px;
    height:45px;
    padding:1px 8px;
    font-size:15px;
    border-radius:9px;
    font-family: 'Franklin Gothic Medium';
}

.alert-item.ALTO{
    background:#FBDE00;
    color:#000;
    box-shadow:0 4px 4px rgba(0,0,0,.25);
}

.alert-item.MEDIO{
    background:#e0e0e0;
    color:#000000;
    box-shadow:0 4px 4px rgba(0,0,0,.25);

}

.alert-item.BAIXO{
    background:#000;
    color:#fff;
    box-shadow:0 4px 4px rgba(0,0,0,.25);

}

.alert-icon{
    font-size:25px;
}

.alert-arrow{
    font-size:30px;
}

.alert-status{
    flex:1;
}